* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #1B387C;
    height: 60px;
    color: white;
    font-weight: 600;
}

.navbar ul {
    height: 100%;
}

.navbar ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    cursor: pointer;
}

.header {
    background-image: url('../img/bg_header.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.search {
    background-image: url('../img/banner.jpg');
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
}

.find_school h4 {
    color: #fff;
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 50px;
    margin-bottom: 30px;
    text-shadow: 1px 1px 1px #333;
}

.input-search {
    width: 800px;
    float: left;
    margin: 20px calc((100% - 800px) / 2);
    position: relative;
}

.input-search input {
    float: left;
    width: 650px;
    padding: 10px 140px 10px 10px;
    border: 1px solid #333;
    background: #fff;
    color: gray;
    font-size: 16px;
    margin-left: 11px;
}

.input-search button {
    position: absolute;
    top: 1px;
    right: -1px;
    background: #F37412;
    width: 140px;
    text-align: center;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px 0;
}

.left-title, .right-title {
    color: #1B387C;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 18px;
    float: left;
    position: relative;
    margin: 10px 0;
    border-bottom: 1px solid gray;
    width: 100%;
    padding-bottom: 5px;
}

.left-title svg, .right-title svg {
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

.img-content img {
    margin-left: 40px;
}

.right-content ul li {
    padding: 5px 10px;
    width: calc(100% - 20px);
    float: left;
    border-radius: 5px;
    text-align: center;
    background: #1B387C;
    color: #fff;
    margin-bottom: 10px;
}

.khuvuc, .conglap, .danlap, .xethocba {
    margin-left: 150px;
}

.khuvuc div, .conglap div, .danlap div, .xethocba div {
    width: calc(100% - 10px);
    float: left;
    border-bottom: 1px solid #cdcdcd;
    padding: 10px 5px;
    margin-bottom: 0;
}

.select-nganh {
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 155px;
    padding: 5px;
    border-radius: 5px;
    background: #f4f4f4;
    color: #1B387C;
    font-weight: bold;
}

.navbar ul li:hover {
    color: #F37412;
}